@layer components {
	@scope (.card) {
		:scope {
			--padding: var(--space-md);
			--shadow: var(--shadow-md);
			--radius: var(--radius-lg);

			padding: var(--padding);
			border: 1px solid var(--color-ink-lightest);
			background-color: var(--color-surface);
			box-shadow: var(--shadow);
			border-radius: var(--radius);
		}

		header {
		    margin-bottom: var(--space-md);
		}

		h1 {
			font-weight: bold;
			font-size: var(--text-xl);
		}

		&.lg {
		   --padding: var(--space-xl);
		   --radius: var(--radius-xl);
		   --shadow: var(--shadow-lg);
		}
	}
}
