@import 'compass/layout';
@include sticky-footer(38px);

.fa.pull-right { line-height: inherit; }

body {
  background: #f7f7f7;
}

#root {
  @include clearfix;
}

#logo {
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  opacity: 0.3;
  width: 80px;
  @include transition(opacity 200ms ease-out);

  img {
    max-width: 100%;
  }

  &:hover {
    opacity: 0.4;
  }
}

#main {
  margin-top: 100px;
  margin-bottom: 60px;
}

#footer {
  padding: 8px 0;
}

#header {

  .navbar-form {
    margin-top: 3px;
    margin-bottom: 3px;

    input {
      border: none;
      background-color: tint($navbar-default-btn-bg, 80%);
      @include transition(background-color 200ms ease-out);

      &:focus {
        background: #fff;
      }
    }
  }

  .btn {
    margin: 4px 0;
    border: none !important;

    &.btn-default {
      background: $navbar-default-btn-bg;
      color: #fff;

      &:hover {
        background: tint($navbar-default-btn-bg, 20%);
      }
    }
  }

  a {
    color: #fff;
  }
}

.row-heading {
  @extend .text-muted;
  padding: 0 ($grid-gutter-width / 2);
}


.action-bar {
  margin-top: 60px;

  ~ #main {
    margin-top: 40px;
  }
}

.nav {
  a {
    color: $gray;

    &.text-danger {
      @extend .text-danger;
    }
  }
}

.no-results {
  text-align: center;
  color: $gray-light;
}
