.pop-over {
  position: absolute;
  background: #fff;
  min-width: 300px;
  padding: 15px;
  margin-top: 4px;
  margin-bottom: 15px;
  z-index: 1031;
  border: 1px solid darken($gray-lighter, 5%);
  @include box-shadow(0 1px 4px rgba(#000, 0.1));
  @include border-radius(3px);

  header {
    h4 {
      text-align: center;
      color: $gray-light;
      margin: 0;
      margin-top: -5px;
      font-size: 16px;
      border-bottom: 1px solid #ddd;
      padding-bottom: 10px;
      margin-bottom: 15px;
    }

    .close, .back {
      position: absolute;
      right: 0;
      top: 0;
      padding: 10px 15px;
      font-size: 18px;
      font-weight: bold;
      line-height: 1;
      color: #444;
      opacity: 0.2;

      &:hover {
        opacity: 0.5
      }
    }

    .back {
      left: 0;
      right: auto;
    }
  }

  ul.nav {
    margin: -10px;
    font-weight: bold;

    a {
      // color: inherit;
    }
  }
}
