$brand-primary: #565196;
$font-size-base: 16px;

$font-family-sans-serif: 'Lato', 'Helvetica Neue', 'Arial';

$navbar-height: 38px;
$navbar-default-bg: $brand-primary;

$navbar-default-btn-bg: tint($brand-primary, 20%);

$border-radius-base: 3px;

$table-cell-padding: 12px;
$table-bg-accent: #fafafa;

$progress-bar-color: tint($brand-primary, 60%);
