#vehicles {
  .vehicle {
    padding: 20px;
    background: $gray-lighter;
    color: #444;
    @include clearfix;
    @include border-radius(3px);
    display: block;
    margin-bottom: 10px;
    font-weight: bold;

    &:hover {
      background-color: darken($gray-lighter, 2%);
    }

    span {
      display: inline-block;
      margin-bottom: 30px;
    }

    &.add-vehicle {
      background-color: lighten($gray-lighter, 2%);
      color: $gray-light;
      text-align: center;
      font-weight: normal;

      &:hover {
        background-color: $gray-lighter;
      }
    }
  }
}

#vehicle {
  .name {
    font-weight: bold;
    color: #444;
  }
}
