<form action="">
  <div class="form-group">
    <label class="control-label" for="reminder">Reminder</label>
    <input type="text" class="form-control" name="notes"
      placeholder="E.g., Change oil at 60,000" required>
  </div>

  <button class="btn btn-success">Save</button>

  {{#if model}}
    <a href="#" class="btn btn-danger pull-right" data-destroy>
      Remove
    </a>
  {{/if}}
</form>
