<form action="">
  <div class="form-group">
    <label class="control-label" for="">Name</label>
    <input type="text" name="name" class="form-control" placeholder="E.g., 2015 Mini Cooper GP">
  </div>

  <button class="btn btn-success">Save</button>
</form>
