<form action="">
  <div class="form-group">
    <label class="control-label" for="">Name</label>
    <input type="text" name="name" class="form-control" placeholder="E.g., 2015 Mini Cooper GP">
  </div>

  <div class="form-group">
    <label class="control-label" for="">VIN</label>
    <input type="text" name="name" class="form-control" placeholder="E.g., WMW12345678901234">
    <small class="help-block">VIN is optional but recommended.</small>
  </div>

  <button class="btn btn-success">Save</button>
</form>
