<form action="">
  <div class="form-group">
    <label class="control-label" for="date">Date</label>
    <input type="text" name="date" class="form-control"
      value="{{formatDate date 'MMM DD, YYYY'}}">
  </div>

  <div class="form-group">
    <label class="control-label" for="mileage">Mileage</label>

    {{#if currentEstimatedMileage}}
      <input type="text" name="mileage" class="form-control"
        value="{{formatNumber '0,0' currentEstimatedMileage}}" placeholder="E.g., 13,500">
      <small class="help-block">
        Your current mileage (we estimated)
      </small>
    {{else}}
      <input type="text" name="mileage" class="form-control" placeholder="E.g., 13,500">
    {{/if}}
  </div>

  {{#if vehicle.enable_cost}}
    <div class="form-group">
      <label class="control-label" for="cost">Cost</label>
      <input type="number" name="cost" class="form-control"
        placeholder="E.g., 40">
    </div>
  {{/if}}

  <div class="form-group">
    <label class="control-label" for="notes">Notes</label>
    <textarea name="notes" class="form-control"
      placeholder="E.g., Change oil, oil filter"></textarea>
  </div>

  <button class="btn btn-success">Save</button>

  {{#if model}}
    <a href="#" class="btn btn-danger pull-right" data-destroy>
      Remove
    </a>
  {{/if}}
</form>
