<form action="">
  <div class="form-group">
    <label class="control-label" for="">Notes</label>
    <textarea name="notes" class="form-control"
      placeholder="E.g., oil type, tire size, or other useful information"></textarea>
    <small class="help-block">
      Markdown supported
    </small>
  </div>

  <button class="btn btn-success">Save</button>
</form>
