<form action="" multipart="true">
  <p class="help-block">
    Upload a CSV with date, mileage, notes, and (optionally) cost fields.
  </p>

  <div class="form-group">
    <label for="" class="control-label">Upload CSV</label>
    <input type="file" name="records" class="form-control">
  </div>

  <button class="btn btn-success">Import</button>
</form>
