{{#if title}}
  <header class="pop-over-header">
    {{#unless stackEmpty}}
      <a href="#" class="back">
        <i class="fa fa-angle-left"></i>
      </a>
    {{/unless}}

    <h4>{{title}}</h4>

    <a href="#" class="close">&times;</a>
  </header>
{{/if}}

<div class="pop-over-content">
  {{layout-element}}
</div>
