<div id="reminders">
  <h5 class="">
    <span class="fa fa-clock-o fa-fw"></span>
    Reminders
  </h5>
  {{#collection tag="ul" class="list-unstyled"}}
    <li>
      <a href="#" class="js-reminder">
        {{reminder}}
      </a>
    </li>
  {{else}}
    <span class="text-muted">No reminders set</span>
  {{/collection}}
</div>
