<form action="">
  <div class="form-group">
    <p class="help-block">
      Removing a vehicle will remove all its records and cannot be undone!
    </p>

    <label class="control-label" for="">Type the word: <em>{{confirmation_word}}</em></label>
    <input type="text" name="confirmation" class="form-control" autocomplete="off">
  </div>

  <button class="btn btn-danger">Remove</button>
</form>
