<form action="">
  <div class="form-group">
    <p class="help-block">
      If you're getting rid of this vehicle, consider Retiring it instead so your records will be preserved.
    </p>

    <label class="control-label" for="">Type the word: <em>{{confirmation_word}}</em></label>
    <input type="text" name="confirmation" class="form-control">
  </div>

  <button class="btn btn-danger">Remove</button>
</form>
