<form action="">
  <div class="form-group">
    <label class="control-label" for="">Type the word: <em>{{confirmation_word}}</em></label>
    <input type="text" name="confirmation" class="form-control">
  </div>

  <button class="btn btn-danger">Remove</button>
</form>
