<form action="">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" class="form-control"
      value="{{value}}">
  </div>
  <button class="btn btn-success">Change</button>
</form>
