<div id="header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="">
        <div class="col-sm-4 hidden-sm hidden-xs">
        </div>
        <div class="col-sm-4 text-center hidden-sm hidden-xs">
          <a href="/" id="logo">
            <img src="/assets/wrench.png" alt="">
          </a>
        </div>
        <div class="col-sm-4">
          <nav class="pull-right">
            {{view sessionView}}
          </nav>
        </div>
      </div>
    </div>

  </nav>
</div>


<div id="main">
  <div class="container">
    <div class="row">
      <h5 class="row-heading">
        <span class="fa fa-car fa-fw"></span>
        All Vehicles
      </h5>
      {{#collection id="vehicles-menu"}}
        <div class="col-md-3">
          {{#link "vehicles/{{_id}}" class="vehicle" expand-tokens=true}}
            <span>
              {{name}}
            </span>
            {{#if vin}}
              <small class="text-muted">
                VIN: {{vin}}
              </small>
            {{/if}}
          {{/link}}
        </div>
      {{/collection}}

      <form class="col-md-3">
        <a href="#" class="vehicle add-vehicle">
          <span>Add a vehicle&hellip;</span>
        </a>
      </form>
    </div>

  </div>
</div>
