{{#collection tag="ul" class="nav nav-pills nav-stacked"}}
  <li>
    {{#link "vehicles/{{id}}" expand-tokens=true}}
      {{name}}
    {{/link}}
  </li>
{{/collection}}
<hr>
<ul class="nav nav-pills nav-stacked">
  <li>
    <a href="#" class="add-vehicle">Add vehicle&hellip;</a>
  </li>
</ul>
