<ul class="nav nav-pills nav-stacked">
  <li>
    <a href="#" class="js-enable-cost">
      Enable Cost

      {{#if enable_cost}}
        <i class="fa fa-check pull-right"></i>
      {{/if}}
    </a>
  </li>
  <li>
    <a href="#" class="text-danger js-remove-vehicle">
      Remove&hellip;
    </a>
  </li>
</ul>
