<div id="main">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-10 col-sm-offset-1">
        <h2>
          <strong>
            The easiest way keep service records for all your vehicles
          </strong>
        </h2>
        <p class="lead">
          Keeping useful maintenance records is a hassle, so most folks don't bother. <br>Spanner lets you keep records in a natural way.
        </p>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-sm-6 col-sm-offset-3">
        {{#if authenticating}}
          <h4 class="text-success">
            <i class="fa fa-check"></i>
            Check your email for a link.

            <a href="#" class="try-again">Try again.</a>
          </h4>

        {{else}}
          <form class="form-inline">
            <div class="form-group">
              <input id="email" name="email" type="email" class="form-control"
                value="{{user.email}}" placeholder="{{placeholder}}" autofocus>
            </div>

            <button class="btn btn-primary">Sign In</button>

            <p class="help-block">
              <small class="text-muted">
                First time? We'll setup your account automagically.
              </small>
            </p>
          </form>
        {{/if}}
      </div>
    </div>

    <div class="row">
      <div id="teaser">
        <img src="/assets/teaser-2.png" alt="">
      </div>
    </div>
  </div>
</div>
