@import 'tailwindcss';
@import 'tw-animate-css';
@import './styles/lato.css';
@import './styles/theme.css';

@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}

	.root {
		@apply grid h-screen;
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr auto;
		grid-template-areas: 'header' 'main' 'footer';

		> header {
			grid-area: header;
		}

		> main {
			grid-area: main;
		}

		> footer {
			grid-area: footer;
		}
	}

	.h1 {
		@apply mb-2 text-2xl font-bold;
	}

	.h2 {
		@apply mb-2 text-xl font-bold;
	}

	.h3 {
		@apply mb-1 text-lg font-bold;
	}
}

@layer components {
	fieldset {
		@apply flex flex-col gap-3;
	}

	.form-actions {
		@apply my-8 flex flex-row-reverse justify-between;
	}

	.input-hint {
		@apply text-sm font-normal text-neutral-500;
	}

	.navbar {
		@apply flex min-h-12 w-full items-center p-2;

		.navbar-start {
			@apply inline-flex w-1/2 items-center justify-start;
		}
		.navbar-center {
			@apply inline-flex shrink-0 items-center;
		}
		.navbar-end {
			@apply inline-flex w-1/2 items-center justify-end;
		}
	}

	.menu {
		.menu-button {
			@apply cursor-pointer select-none group-open:bg-secondary;
		}

		[role='menu'] {
			@apply absolute z-1 mt-0.5 w-fit min-w-[200px] rounded-md border bg-popover py-1 text-popover-foreground shadow-md;
		}

		[role='menuitem'] {
			@apply mx-1 flex h-9 cursor-pointer items-center rounded px-2.5 hover:bg-accent;

			> * {
				@apply flex w-full justify-between;
			}
		}

		[role='separator'] {
			@apply my-1 h-px w-full bg-border;
		}

		[data-size='sm'] {
			[role='menuitem'] {
				@apply h-8;
			}
		}
	}
}

@utility no-scrollbar {
	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none;
	scrollbar-width: none;
}
