.pop-over {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1031;
  background: #fff;
  min-width: 340px;
  margin-top: 8px;
  margin-bottom: 15px;
  border: 1px solid darken($gray-lighter, 5%);
  box-shadow: 0 1px 4px rgba(#000, 0.1);
  border-radius: 3px;

  header {
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;

    h4 {
      text-align: center;
      color: $gray-light;
      margin: 0;
      font-size: 16px;
    }

    .close, .back {
      position: absolute;
      right: 0;
      top: 0;
      padding: 10px 15px;
      font-size: 18px;
      font-weight: bold;
      line-height: 1;
      color: #444;
      opacity: 0.5;

      &:hover {
        opacity: 0.8
      }
    }

    .back {
      left: 0;
      right: auto;
    }
  }

  form {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  ul.nav {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-pills > li > a {
    border-radius: 0;

    &:hover {
      color: #fff;
      background-color: $brand-primary;
    }
  }

  .divider {
    background-color: #ddd;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.pop-over-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1030;
}
