#welcome {
  #logo {
    opacity: 1;
    width: 64px;

    img {
      height: auto;
    }
  }

  #main {
    margin-top: 0;
  }

  #user {
    width: 300px;
  }

  #teaser {
    margin-top: 60px;
    height: 600px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(#000, 0.3);
    border-radius: 5px;

    img {
      max-width: 100%;
    }
  }

  #sign-in {
    margin-top: 40px;
    margin-bottom: 40px;

    input {
      width: 100%;
    }

    @include respond-to-min($container-sm) {
      .form-group {
        width: 300px;
      }
    }
  }

  p:not(.lead) {
    font-size: 18px;
  }

  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .section-bordered {
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  .section-purple {
    background: $brand-primary;
    color: #fff;

    .text-muted {
      color: #fff;
      opacity: 0.5;
    }

    a {
      color: #fff;
    }
  }

  .section-teaser {
    margin-top: 150px;
  }

  .teaser-img {
    text-align: center;
    margin-bottom: -50px;
    max-height: 550px;
    overflow: hidden;
  }

  @include respond-to($container-sm) {
    .text-center {
      text-align: left;
    }

    #user {
      width: 100%;
    }

    .img-responsive {
      float: none !important;
    }
  }
}
