<p>
  Copy the token below and paste it in the app.
</p>

<h3>
  <%= @user.login_token %>
</h3>

<p>
  This token is like a temporary password. It lasts for 15 minutes and can only be used once.
</p>
