<p>
  Copy the token below and paste it in the app.
</p>

<p>
    <code>
        <%= @user.login_token %>
    </code>
</p>

<p>
  This token is like a temporary password. It lasts for 15 minutes and can only be used once.
</p>
