<p>Someone requested a password reset for your Spanner account.</p>

<p>
    <%= link_to  'Reset your password', @reset_url, class: 'button' %>
</p>

<p>This link expires in 15 minutes.</p>

<p>If you didn't request this, you can safely ignore this email.</p>
