@plugin 'daisyui' {
	themes:
		light --default,
		spanner-dark --prefersdark;
}

@plugin 'daisyui/theme' {
	name: 'spanner-dark';
	prefersdark: true;
	color-scheme: dark;

	--color-base-100: oklch(18% 0.03 270);
	--color-base-200: oklch(26% 0.04 270);
	--color-base-300: oklch(38% 0.05 270);

	--color-base-content: oklch(99% 0.01 270);

	--color-primary: oklch(52% 0.14 282);
	--color-primary-content: oklch(99% 0.01 282);

	--color-secondary: oklch(38% 0.08 270);
	--color-secondary-content: oklch(99% 0.01 270);

	--color-accent: oklch(78% 0.21 285);
	--color-accent-content: oklch(18% 0.03 285);

	--color-neutral: oklch(99% 0.01 270);
	--color-neutral-content: oklch(12% 0.01 270);

	--color-info: oklch(85% 0.19 230);
	--color-info-content: oklch(18% 0.03 230);

	--color-success: oklch(78% 0.21 137);
	--color-success-content: oklch(18% 0.03 137);

	--color-warning: oklch(99% 0.19 99);
	--color-warning-content: oklch(18% 0.03 99);

	--color-error: oklch(65% 0.24 29);
	--color-error-content: oklch(99% 0.01 29);
	--radius-selector: 1rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;

	--size-selector: 0.25rem;
	--size-field: 0.25rem;

	--border: 1px;
	--depth: 0;
	--noise: 0;
}

@utility fieldset {
	@apply gap-4;
}

@utility fieldset-legend {
	@apply text-lg;
}

@utility label {
	@apply text-md font-medium text-base-content;
}

@utility divider-px {
	@apply my-0 h-px;
}

@utility navbar {
	@apply min-h-12;
}

@utility menu {
	[role='separator'] {
		@apply -mx-2;
	}
}
