<% return if user.unsubscribed_at.present? %>
<hr>
<p style="font-size: small; color: #666;">
  <%= link_to 'Manage email preferences', frontend_preferences_url(user.account_token) %>
  <% if local_assigns[:vehicle] %>
    &middot;
    <%= link_to "Notifications for #{vehicle.name}", frontend_preferences_url(user.account_token, vehicle_id: vehicle.id) %>
  <% end %>
</p>