<p>
  We noticed it's about time for service on your <strong><%= @vehicle.name %></strong>. Have you done any maintenance or modifications recently?
</p>
<p>
  <%= link_to 'Add Service', vehicle_url(@vehicle), class: 'button' %>
</p>
<p>
  <%= link_to 'Remind Me Later', @remind_me_later_url, class: 'button button-small' %>
  <%= link_to 'Mute', @mute_url, class: 'button button-small' %>
</p>
