<p>
  You added your <strong><%= @vehicle.name %></strong>, but haven't added any service yet. Try adding your purchase as your first one.
</p>

<%= link_to 'Add Service', vehicle_url(@vehicle), class: 'button' %>

<p>
  With at least two records Spanner can start predicting your mileage based on your service history.
</p>
