<p>
  <strong>Thanks for signing up for Spanner!</strong>
</p>

<p>
  Spanner has some unique features to help keep your vehicle running great:
</p>

<ul>
  <li>Daily and yearly mileage predictions</li>
  <li>Reminders based on mileage</li>
  <li>Notes for those hard to remember things, like oil type, tire pressure, and how to change the clock</li>
  <li>
    <a href="https://itunes.apple.com/us/app/spanner/id1187772916?ls=1&mt=8">
      A beautiful iOS app
    </a>
  </li>
  <li>...and more</li>
</ul>

<p>
  Add a vehicle to get started:
</p>

<%= link_to 'Add Vehicle', vehicles_url, class: 'button' %>
