<p>
  You added your <strong><%= @vehicle.name %></strong>, but haven't added any service yet. Try adding your purchase as your first one.
</p>

<p>
  When you have at least 2 records Spanner can do cool stuff like mileage prediction and automatic reminders based on your service history.
</p>

<%= link_to 'Add Service', vehicle_url(@vehicle), class: 'button' %>
